* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/stars-background.jpg);
    background-size: cover;
    background-position: center;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bio {
    width: 20%;
    height: 80%;
}

#profile-image-container {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-image-container img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 0 150px 5px white;
}

#text-holder {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#name {
    font-size: 2.8rem;
    backdrop-filter: blur(3px);
}

#occupation {
    font-size: 1.8rem;
    font-weight: 550;
    backdrop-filter: blur(3px);
}

#menu-links {
    width: 100%;
    height: 60%;
}

#list-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

#list-container li {
    width: 100%;
    height: 60px;
    background-color: red;
}

.button {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
}

#github-button {
    background-color: #022966;
}