* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/stars-background.webp);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(3px);
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#bio {
    width: 20%;
    height: 80%;
}

#profile-image-container {
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile-image-container img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 0 50px 5px white;
}

#text-holder {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    color: white;
}

#name {
    font-size: 2.8rem;
}

#occupation {
    font-size: 2rem;
    font-weight: 550;
}

#menu-links {
    width: 100%;
    height: 60%;
}

#list-container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style-type: none;
}

#list-container li {
    width: 100%;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 0px 15px 2px #000000;
    transition: all .15s ease-in-out;
}

#list-container li:hover {
    transform: scale(1.07);
}

.button {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: white;
    align-items: center;
    justify-content: center;
}

#github-button {
    background-color: #000000;
}

#linkedin-button {
    background-color: #0a66c2;
}

#instagram-button {
    background: radial-gradient(circle at 17% 260%, #fdf497 20%, #fdf497 10%, #F58529 35%,#DD2A7B 50%,#8134AF 90%);
}

#discord-button {
    background-color: #404eed;
}

#whatsapp-button {
    background-color: #128c7e;
}

#telegram-button {
    background-color: #28a7e8;
}

.fa-brands {
    font-size: 30px;
    position: absolute;
    left: 20px;
}

.fa-discord {
    left: 15px;
}